body {
    background-color: rgb(55, 216,230);
}

body.night {
    background-color: rgb(44, 62, 80);
}

.circle {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.circle.moon {
    background-color: #bbc;
}
